body{
  background-color: #A9A9A9;
}

.container{
  max-width: 700px;
    margin:0 auto;
  background: white;
  padding: 15px;
overflow: auto; /*clearfix hack*/

}
@media (min-width: 650px){
.left-column{
  width: 66%;
  float: left;
}
.right-column{
  width:33%;
  float: left;
}
*{
  box-sizing: border-box;
}
